@use "../../styles/variables";
@use "../../styles/mixins";

.hero {
    &__gallery {
        height: 420px;
        max-width: 720px;

        @include mixins.element-center;

        position: relative;

        & img {
            @include mixins.image;
            z-index: 2;
        }
    }
}

.photo-small {
    max-height: 70%;
    max-width: 20%;
}

.photo-main {
    border: 3px solid white;
    max-width: 30%;
}

@media screen and (max-width: 768px) {
    .hero {
        &__gallery {
            height: 320px;
        }
    }
}
@media screen and (max-width: 560px) {
    .hero {
        &__gallery {
            height: 220px;
        }
    }
}
