@use '../../styles/variables';

.slider-container {
  height: fit-content;
}

.slide {
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin: 0 10px;

    & img {
      width: 100%;
      object-fit: contain;
    }
  }

  .slick-dots li.slick-active button:before {
    color: variables.$blue;
  }
  
  .slick-prev:before,
  .slick-next:before {
    color:  variables.$blue;
  }
