.faq {
    padding: 60px 0;
    &__inner {
        display: flex;
        gap: 100px;
        padding-top: 40px;
    }
    &__banner {
        flex: 1 1 40%;
        position: relative;

        & img {
            position: absolute;
            object-fit: cover;

            &:first-child {
                bottom: 0;
                left: 0px;

                width: 210px;
                height: 160px;
            }
            &:nth-child(2) {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 3;

                width: 220px;
                height: 350px;
            }

            &:nth-child(3) {
                top: -50px;
                right: 0;
                width: 160px;
                height: 250px;
            }
        }

        & .rectangle {
            position: absolute;
            height: 180px;

            &:first-child {
                top: 50%;
                left: 0;
            }
            &:last-child {
                bottom: 10%;
                right: 0;
            }
        }
    }
}

@media screen and (max-width: 1100px){
    .faq {
        &__banner {
            display: none;
        }
    }
}