@use '../../styles/variables';
@use '../../styles/mixins';

.review {
    background: white;
    border-radius: 8px;
    border: 1px solid rgba(237, 237, 237, 1);
    box-shadow: variables.$shadow;

    padding: 16px;
    max-width: 416px;

    font-size: variables.$font-size-small;

    display: flex;
    flex-direction: column;
    gap: 18px;

    &__user {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__details {
        display: flex;
        color:  #828282;
        gap: 15px;

        &.column {
            flex-direction: column-reverse;
            gap: 5px;
        }
    }
}

.avatar {
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    background-color: variables.$blue;

    & img {
        @include mixins.image;
    }
}