@use '../../styles/variables';

.title {
    font-size: variables.$font-size-large;
    font-weight: 400;
    color: variables.$blue;

    &.section {
        font-size: variables.$font-size-title;
    }
}

@media screen and (max-width: 1024px) {
    .title{
        font-size: 26px;
        text-align: center;
    }
}