@use '../../styles/variables';

.accordion {
    overflow: hidden;
    border-top: variables.$grey-border;
    &__item {
        border-bottom: variables.$grey-border;
        overflow: hidden;
    }
}

.question {
    &-container {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        width: 100%;
        cursor: pointer;
    }

    &-content {
        font-size: variables.$font-size-medium;
        color: variables.$blue;
    }
}

.answer {
    &-container {
        transition: height .7s ease-in-out;
    }
    &-content {
        padding: 0 40px 20px 0;
    }
}

.accordion-toggle {
    transition: .7s;
    color: variables.$blue;
    &::before {
        content: '+';
        font-size: 35px;
    }

    &.active::before {
        content: '-';
        font-size: 35px;
    }
}